/*
 * Imports
 */

@import 'normalize';

/*
 * Typography
 */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

h1, h2, h3, h4, h5, h6 {

  font-weight: 700;
}

/*
 * Variables
 */

$primary-color: #fd6768;
$primary-gradient: linear-gradient(135deg, #FF867E 0%, #FD6768 80%, #FD6768 100%);

$light-grey: #f7f7f7;
$light-grey-2: #dedede;
$dark-grey: #494949;

$lowIndex: 1;
$middleIndex: 50;
$highIndex: 100;

/*
 * General Styles
 */

body {

  font-family: Lato, 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: 400;

  -webkit-font-smoothing: antialised;

  overflow: hidden;

  background: linear-gradient(
								rgba(255, 255, 255, 0.8),
      					rgba(255, 255, 255, 0.8)
      				),
							url('../img/guy_hero.jpg') no-repeat center center;

	background-size: cover;

  &.results--in {

    background: white;
  }
}

/*
 * Nav
 */

nav ul {

  list-style: none;
  position: absolute;

  top: 10px;
  right: 30px;

  li {

    font-weight: 700;
    display: inline-block;
    margin-right: 20px;

    -webkit-transition: color .3s ease;
            transition: color .3s ease;

    // &:last-of-type {
    //
    //   border: 2px solid $primary-color;
    //   border-radius: 40px;
    //   padding: 10px 25px;
    // }

    &:last-of-type  span {

      font-weight: 900;
      color: white;
      background: $primary-color;

      width: 20px;
      height: 20px;

      display: inline-block;
      position: absolute;
      top: 0;
      right: -7px;

      text-align: center;
      font-size: 12px;
      line-height: 20px;

      border-radius: 10px;
    }

    &:hover {

      color: $primary-color;
      cursor: pointer;
    }
  }
}

/*
 * Notifications
 */

.notifications--container {

  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  top: 30px;

  z-index: $highIndex + 1;

  p {

    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;

    background: $light-grey;

    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
    border-radius: 8px;

    & span a {

      color: $primary-color;
      text-decoration: none;
      font-weight: 400;
      font-size: 15px;

      margin-right: 20px;
      margin-top: 40px;

      -webkit-transition: color .3s ease;
              transition: color .3s ease;

      &:hover {

        color: lighten($primary-color, 10%);
      }
    }
  }
}

/*
 * Calendar
 */

.calendar--wrapper {

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;

  height: 100vh;

}

.calendar--container {

  width: 600px;
  z-index: $highIndex;

  position: relative;
  text-align: center;

  h1 {

    opacity: 1;

    font-size: 24px;
    display: inline-block;

    //border-bottom: 4px solid #dadada;
    padding-bottom: 5px;

    margin-bottom: 30px;

    -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease;
  }
}

.search--results ul {

  list-style: none;
  text-align: left;

  margin-top: 50px;

  li {

    opacity: 0;

    border-bottom: 2px solid $light-grey-2;
    padding-bottom: 30px;
    margin-bottom: 30px;

    img {

      width: 64px;
      height: 64px;
      border-radius: 50%;
      display: inline-block;
    }

    div.search--carer--details {

      display: inline-block;
      margin-left: 30px;
      position: relative;
      top: 0;

      a {

        text-decoration: none;
        color: $primary-color;
        font-size: 14px;
        margin-top: 10px;
        display: inline-block;
        margin-right: 20px;

        -webkit-transition: color .3s ease;
                transition: color .3s ease;

        &:hover {

          color: lighten($primary-color, 10%);
        }

        &.pending--request {

          color: $dark-grey;
        }
      }

      h4, p {

        margin: 0;
      }

      h4 {

        font-size: 20px;
      }
    }
  }
}

/* Detail */

$duration: 1000ms;

.calendar--detail--container {

  z-index: $lowIndex;

  position: absolute;
  top: 12%;

  width: 600px;

  -webkit-perspective: 1200px;
          perspective: 1200px;

  text-align: left;

  -webkit-transform: translate3d(0,100px,0);
          transform: translate3d(0,100px,0);

  opacity: 0;

  -webkit-transition: opacity $duration ease, -webkit-transform $duration cubic-bezier(.98,.07,.58,.83);
          transition: opacity $duration ease, transform $duration cubic-bezier(.98,.07,.58,.83);

  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.calendar--row {

  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);

  opacity: 1;

  -webkit-transition: opacity $duration ease, -webkit-transform $duration cubic-bezier(.98,.07,.58,.83);
          transition: opacity $duration ease, transform $duration cubic-bezier(.98,.07,.58,.83);

  &.fade-to-top {

    -webkit-transform: translate3d(0,-500px,0);
            transform: translate3d(0,-500px,0);

    opacity: 0;
  }

  &.fade-to-bottom {

    -webkit-transform: translate3d(0,500px,0);
            transform: translate3d(0,500px,0);

    opacity: 0;
  }
}

.calendar--detail--body {

  position: absolute;

  background: $light-grey;
  border-radius: 8px;

  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);

  padding: 30px 50px 30px 120px;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  // -webkit-transform: translate3d(0,10px,0);
  //         transform: translate3d(0,10px,0);

  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);

  -webkit-transition: box-shadow .3s ease, -webkit-transform .7s ease;
          transition: box-shadow .3s ease, transform .7s ease;

  &.is-focused {

    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);

    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.16);
  }

  &.face--front.is-flipped {

    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  &.face--back {

    //height: 300px;

    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);

    &.is-flipped {

      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
  }
}

h3.calendar--detail--partner {

  font-size: 24px;
  font-weight: 700;

  display: inline-block;
  margin: 5px 0 0 0;

  &:hover {

    cursor: pointer;
  }
}

p.calendar--detail--job {

  color: $dark-grey;
  font-size: 16px;
  font-weight: 900;

  border-bottom: 2px solid $light-grey-2;
  padding-bottom: 5px;

  &:hover {

    cursor: pointer;
  }

  background: transparent;
  padding: 10px;

  position: relative;
  left: -10px;

  max-height: 150px;
  overflow-y: scroll;

  -webkit-transition: background .3s ease;
          transition: background .3s ease;

  &:focus,
  &:hover {

    outline: none;
    background: white;
  }
}

div.calendar--detail--partner--actions {

  display: inline-block;
  position: relative;

  top: 10px;
  left: 147px;

  & span {

    background-size: 100%;
    background-image: linear-gradient(135deg, #FD6768 0%, #F75B5C 71%, #E04041 100%);

    padding: 5px 15px;
    border-radius: 40px;

    color: white;

    display: inline-block;
    position: relative;
    z-index: 100;

    cursor: pointer;

    &:before {

      border-radius: inherit;

      display: block;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0; left: 0;

      background-image: linear-gradient(135deg, #FF867E 0%, #FD6768 80%, #FD6768 100%);
      content: '';

      opacity: 0;
      z-index: -100;

      -webkit-transition: opacity .3s ease;
              transition: opacity .3s ease;
    }

    &:hover {
      &:before {

        opacity: 1;
      }
    }

    &:first-of-type {

      margin-right: 10px;
    }
  }
}

a.calendar--detail--partner--avatar {

  width: 56px;
  height: 56px;
  border-radius: 50%;

  display: inline-block;

  position: absolute;
  left: 30px;
  border: 4px solid $light-grey-2;

  text-decoration: none;

  &.has-icon {

    width: 64px;
    height: 64px;
    border: 0;
  }

  & img {

    width: 100%;
    height: 100%;

    border-radius: 50%;
  }
}

.calendar--detail--job {

  margin: 0;

  &[contentEditable=true]:empty:not(:focus):before {

      content: attr(data-placeholder);
  }
}

.calendar--detail--brief {

  font-size: 18px;

  background: transparent;
  padding: 10px;

  width: 400px;

  position: relative;
  left: -10px;

  max-height: 150px;
  overflow-y: scroll;

  -webkit-transition: background .3s ease;
          transition: background .3s ease;

  &:focus,
  &:hover {

    outline: none;
    background: white;
  }

  &[contentEditable=true]:empty:not(:focus):before {

      content: attr(data-placeholder);
  }
}

a.calendar--detail--chat {

  text-decoration: none;

  background-size: 100%;
  background-image: linear-gradient(135deg, #FD6768 0%, #F75B5C 71%, #E04041 100%);

  padding: 10px 25px;
  border-radius: 40px;

  color: white;
  font-size: 20px;

  display: inline-block;
  position: relative;
  z-index: 100;

  cursor: pointer;

  &:before {

    border-radius: inherit;

    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0; left: 0;

    background-image: linear-gradient(135deg, #FF867E 0%, #FD6768 80%, #FD6768 100%);
    content: '';

    opacity: 0;
    z-index: -100;

    -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease;
  }

  &:hover {
    &:before {

      opacity: 1;
    }
  }
}

h1.calendar--title {

  position: relative;

  &:before {

    content: '‹';
    color: $dark-grey;
    display: inline-block;
    position: absolute;
    left: -40px;
    top: -13px;
    font-size: 38px;

    -webkit-transition: color .3s ease;
            transition: color .3s ease;
  }

  &:after {

    content: '›';
    color: $dark-grey;
    display: inline-block;
    position: absolute;
    right: -40px;
    top: -13px;
    font-size: 38px;
  }

  &:hover:before,
  &:hover:after {

    color: $primary-color;
    cursor: pointer;
  }
}

a.calendar--detail--chat--secondary {

  color: $primary-color;
  margin-left: 20px;

  text-decoration: none;
  font-weight: 400;
}

a.calendar--detail--chat--send {

  @extend a.calendar--detail--chat;

  float: right;
  border-radius: 0 40px 40px 0;
}

.calendar--detail--body.face--back {

  padding: 30px 50px;
}

.face--back p.calendar--detail--job {

  color: $primary-color;
  font-size: 16px;
  font-weight: 400;

  height: 16px;
  min-width: 100px;

  overflow: hidden;
  position: relative;

  line-height: 16px;

  -webkit-transition: all .3s ease;
          transition: all .3s ease;

  span {

    display: inline-block;
    width: 100%;
    height: 100%;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
  }

  &:after {

    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 16px;
    font-size: 16px;

    left: 0;
    top: 20px;

    content: 'is typing';
    color: $dark-grey;
    font-weight: 900;
    display: block;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
  }

  &:before {

    content: '';
    position: absolute;
    z-index: -1;
  }

  &.is-typing span {

    -webkit-transform: translateY(-300%);
  	        transform: translateY(-300%);
  }

  &.is-typing:after {

    top: 0;
  }
}

.calendar--detail--chat--input {

  background: white;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;

  border: 0;
  width: 295px;
  border-radius: 40px 0 0 40px;

  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);

  -webkit-transition: box-shadow .3s ease;
          transition: box-shadow .3s ease;

  &:focus {

    border: 0;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.16);
    outline: none;
  }
}

.search--input {

  display: block;

  background: white;
  height: 70px;
  line-height: 75px;
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;

  border: 0;
  border-bottom: 4px solid transparent;
  width: 295px;
  border-radius: 0;

  margin: 0 auto;

  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);

  -webkit-transition: box-shadow .3s ease, border-bottom .3s ease;
          transition: box-shadow .3s ease, border-bottom .3s ease;

  &:focus {

    border: 0;
    border-bottom: 4px solid $dark-grey;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.16);
    outline: none;
  }
}

.search--in--area {

  opacity: 0;

  position: absolute;
  top: 27px;
  left: 30px;

  -webkit-transform: translate3d(0,-200px,0);
          transform: translate3d(0,-200px,0);

          -webkit-transition: opacity $duration ease, -webkit-transform $duration cubic-bezier(0.42, 0.17, 0.02, 0.93) !important;
                  transition: opacity $duration ease, transform $duration cubic-bezier(0.42, 0.17, 0.02, 0.93) !important;

  .entered--zipcode {

    font-weight: 700;
    color: $dark-grey;
  }
}

.search--results {

  display: none;
}

.search--submit {

  @extend .calendar--detail--chat;

  margin-top: 20px;
}

.calendar--detail--chat--content {

  &.has-messages {

    text-align: right;

    span {

      text-align: left;

      background: white;
      color: black;
      font-weight: 400;

      padding: 10px 20px;
      display: inline-block;

      max-width: 200px;
      margin-bottom: 10px;
      border-radius: 8px;
    }
  }

  &.no-messages {

    color: $dark-grey;
  }
}

.calendar--detail--chat--content--response {

  &.has-response {

    text-align: left;

    span {

      text-align: left;

      background: transparent;
      border: 2px solid $light-grey-2;
      color: black;
      font-weight: 400;

      padding: 10px 20px;
      display: inline-block;

      max-width: 200px;
      margin-bottom: 10px;
      border-radius: 8px;
    }
  }

  &.no-messages {

    color: $dark-grey;
  }
}

/*
 * Utilities
 */

.fade-back-to-place {

  -webkit-transition: opacity $duration ease, -webkit-transform $duration cubic-bezier(0.42, 0.17, 0.02, 0.93) !important;
          transition: opacity $duration ease, transform $duration cubic-bezier(0.42, 0.17, 0.02, 0.93) !important;

  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.is-visible {

  -webkit-transform: translate3d(0,0,0) !important;
          transform: translate3d(0,0,0) !important;

  opacity: 1 !important;
}

.is-hidden {

  opacity: 0 !important;
}

.is-transparent {

  opacity: .3 !important;
}

.delay-transition-300 {

  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.delay-transition-600 {

  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}

.delay-transition-900 {

  -webkit-transition-delay: 900ms;
          transition-delay: 900ms;
}

.delay-transition-1200 {

  -webkit-transition-delay: 1200ms;
          transition-delay: 1200ms;
}

/* delay animations */

.delay-animation-300 {

  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.delay-animation-600 {

  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.delay-animation-900 {

  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.delay-animation-1200 {

  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

/* Animations */

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

/* Temp */

ul.mock--dropdown {

  position: absolute;
  list-style: none;
  background-color: white;
  padding: 20px;
  z-index: 500;
  border-radius: 8px;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,.16);

  top: 47px;
  left: 112px;

  font-size: 18px;
  font-weight: 400;

  opacity: 0;

  -webkit-transform: translate3d(0,-10px,0);
        transform: translate3d(0,-10px, 0);

  -webkit-transition: -webkit-transform .3s ease, opacity .3s ease;
          transition: -webkit-transform .3s ease, opacity .3s ease;

  li {

    margin-bottom: 10px;
    position: relative;
    top: -10px;

    color: black;

    -webkit-transition: color .3s ease;
            transition: color .3s ease;

    &:hover {

      color: $primary-color;
    }

    img {

      width: 32px;
      border-radius: 50%;
      margin-right: 10px;
      position: relative;
      top: 10px;
    }

    &:last-of-type {

      margin-bottom: 0;
    }
  }
}

button.reset {

  position: fixed;
  top: 10px;
  left: 10px;
  opacity: 0;
}

button.flip {

  position: fixed;
  top: 10px;
  left: 70px;
}
